.container {
  .title {
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 7rem;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 2.4rem;
  }

  .subtitle {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 110%;
    max-width: 30rem;
    margin: 0;
  }
}
