.container {
  padding: 2.4rem;

  background: linear-gradient(
    94.33deg,
    rgba(255, 255, 255, 0.6) 3.19%,
    rgba(255, 255, 255, 0.1) 99.26%
  );
  backdrop-filter: blur(4px);
  border-radius: 1.5rem;

  border: 1px solid #b2b2b280;
}
