.container {
  padding: 0 6.4rem;
  margin: 0 auto;
  max-width: 103rem;

  @media (max-width: 768px) {
    padding: 3.2rem;
  }

  .grid {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    height: 108rem;
    padding: 6.4rem 0;

    @media (max-width: 768px) {
      flex-direction: column;
      height: auto;
      align-content: center;
      justify-content: center;
    }

    &:before,
    &:after {
      content: '';
      flex-basis: 100%;
      width: 0;
      order: 2;
    }

    .item {
      margin-bottom: 3.2rem;

      &:nth-child(1n) {
        width: 44rem;
        order: 1;
      }
      &:nth-child(2n) {
        width: 52rem;
        order: 2;
        margin-right: -3.2rem;
      }

      &:first-child {
        img {
          height: 25rem;
        }
      }

      @media (max-width: 768px) {
        width: 100% !important;
        margin: 3.2rem 0;
      }
    }
  }
}
